.about {
  padding: 80px 0;
  background: #ffffff;
}

.container {
  max-width: 1280px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.title {
  font-family: var(--third-family);
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  color: #151515;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 60px;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
}

.paragraph {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #151515;
}

.imageWrapper {
  flex-shrink: 0;
  width: 703px;
  /* height: 344px; */
  border-radius: 16px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 40px;
  }

  .content {
    gap: 40px;
  }

  .imageWrapper {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .about {
    padding: mvw(60) 0;
    background: #ffffff;
  }

  .container {
    padding: 0 mvw(20);
    gap: mvw(30);
  }

  .title {
    font-size: mvw(28);
  }

  .content {
    flex-direction: column;
    gap: mvw(30);
  }

  .textBlock {
    gap: mvw(20);
  }

  .paragraph {
    font-size: mvw(16);
    line-height: 1.6;
  }

  .imageWrapper {
    width: 100%;
    height: auto;
    border-radius: mvw(16);
  }

  .image {
    border-radius: mvw(16);
  }
}
